@page "/users/register"
@inject IClient httpClient
@inject NavigationManager navManager

<h1>Register New account</h1>

@if (string.IsNullOrEmpty(message) == false)
{
    <div class="alert alert-danger">
        <p>@message</p>
    </div>
}


<div class="card-body">
    <EditForm FormName="Register" Model="RegistrationModel" OnInvalidSubmit="HandleRegistration">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="email">Email Address</label>
            <InputText id="email" class="form-control" @bind-Value="RegistrationModel.Email" />
            <ValidationMessage For="@(() => RegistrationModel.Email)" />
        </div>
        <br>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <InputText id="first-name" class="form-control" @bind-Value="RegistrationModel.FirstName" />
            <ValidationMessage For="@(() => RegistrationModel.FirstName)" />
        </div>
        <br>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <InputText id="last-name" class="form-control" @bind-Value="RegistrationModel.LastName" />
            <ValidationMessage For="@(() => RegistrationModel.LastName)" />
        </div>
        <br>
        <div class="form-group">
            <label for="password">Password</label>
            <InputText type="password" id="password" class="form-control" @bind-Value="RegistrationModel.Password" />
            <ValidationMessage For="@(() => RegistrationModel.Password)" />
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-black">Register</button>
        </div>
    </EditForm>
</div>
@code {
    public UserDto RegistrationModel = new UserDto{
        Role = "User"
    };
    string message = string.Empty;

    private async Task HandleRegistration()
    {
            await httpClient.RegisterAsync(RegistrationModel);
            navManager.NavigateTo("users/login");
    }
}
